<link rel="import" href="../polymer/polymer.html">
<script src="../particles.js/particles.min.js"></script>

<!--
`atom-particle-banner`

### Styling

The following custom properties and mixins are also available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--atom-particle-banner-container` | Mixin applied to the particles container | `{}`
`--atom-particle-banner-content` | Mixin applied to the particles content | `{}`


@demo demo/index.html 
-->

<dom-module id="atom-particle-banner">
  <template>
    <style>
       :host {
        display: block;
        background-color: #21252e;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

       :host #particles-js {
        height: 400px;
        position: relative;
      }

       :host ::content #particles-js>* {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @apply(--atom-particle-banner-content);
      }
    </style>
    <div id="particles-js">
      <content></content>
    </div>
  </template>

  <script>
    Polymer({

      is: 'atom-particle-banner',

      properties: {
        particleCount: {
          type: Number,
          value: 200
        },

        particleColor: {
          type: String,
          value: '#00aea3'
        },

        lineColor: {
          type: String,
          value: '#105458'
        }
      },

      attached: function () {
        particlesJS('particles-js', {
          "particles": {
            "number": {
              "value": this.particleCount,
              "density": {
                "enable": true,
                "value_area": 800
              }
            },
            "color": {
              "value": this.particleColor
            },
            "shape": {
              "type": "circle",
              "stroke": {
                "width": 0,
                "color": this.particleColor
              },
              "polygon": {
                "nb_sides": 5
              },
              "image": {
                "src": "img/github.svg",
                "width": 100,
                "height": 100
              }
            },
            "opacity": {
              "value": 0.5,
              "random": false,
              "anim": {
                "enable": false,
                "speed": 1,
                "opacity_min": 0.1,
                "sync": false
              }
            },
            "size": {
              "value": 3,
              "random": true,
              "anim": {
                "enable": false,
                "speed": 40,
                "size_min": 0.1,
                "sync": false
              }
            },
            "line_linked": {
              "enable": true,
              "distance": 150,
              "color": this.lineColor,
              "opacity": 0.4,
              "width": 1
            },
            "move": {
              "enable": true,
              "speed": 6,
              "direction": "none",
              "random": false,
              "straight": false,
              "out_mode": "out",
              "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 1200
              }
            }
          },
          "interactivity": {
            "detect_on": "canvas",
            "events": {
              "onhover": {
                "enable": true,
                "mode": "repulse"
              },
              "onclick": {
                "enable": true,
                "mode": "push"
              },
              "resize": true
            },
            "modes": {
              "grab": {
                "distance": 400,
                "line_linked": {
                  "opacity": 1
                }
              },
              "bubble": {
                "distance": 400,
                "size": 40,
                "duration": 2,
                "opacity": 8,
                "speed": 3
              },
              "repulse": {
                "distance": 200
              },
              "push": {
                "particles_nb": 4
              },
              "remove": {
                "particles_nb": 2
              }
            }
          },
          "retina_detect": true,
          "config_demo": {
            "hide_card": false,
            "background_color": "#b61924",
            "background_image": "",
            "background_position": "50% 50%",
            "background_repeat": "no-repeat",
            "background_size": "cover"
          }
        });
      }

    });
  </script>
</dom-module>